$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$lBlue: #52B3D9;
$mBlue: #4183D7;
$dBlue: #446CB3;

$lOrange: #F27935;
$mOrange: #F9690E;
$dOrange: #D35400;

$lGrey: #ECF0F1;
$mGrey: #95A5A6;
$dGrey: #333333;

$Green: #2ECC71;
$Yellow: #F1C40F;
$Red: #E74C3C;
$Purple: #9B59B6;
$Dark: #34495E;
