a {
	color: $mBlue;
	transition: .15s ease-in-out;

	&:visited {
		color: $lOrange;
	}
	&:hover,
	&:focus,
	&:active {
		color: $lOrange;
		transition: .15s ease-in-out;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
