// Posts output throughout the pages
// 1. Main posts
.post {
  display: flex;

	&.has-thumbnail {
		.post-content {
      width: 70%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

.post-title {
  font-size: 21px;
  font-weight: 600;
  padding: 10px 20px;
  display: block;
  line-height: 1.2;
}

.post-image {
  display: block;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-excerpt {
  p {
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
  }
}

.post-footer {
  span {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: $mGrey;
    font-weight: 600;
    i {
      display: none;
    }
    a {
      color: $mGrey;
    }
  }
}

// 2. Other posts in category
.other-posts-section {
  background-color: $dGrey;

  .container {
    display: flex;
    align-items: baseline;
  }

  .subsection-heading {
    color: $lGrey;
    padding: 30px 0;

    span {
      font-size: 100%;
    }
  }
}

.other-posts {
  margin-bottom: 0;
}

.other-posts_title {
  font-size: 21px;
  font-weight: 600;
  padding: 15px;
  display: block;
  line-height: 1.2;
}

.other-posts_excerpt {
  padding: 15px;

  p {
    padding: 0;
    font-size: 18px;
  }
}

.other-posts_footer {
  span {
    font-size: 100%;
    display: block;
    padding: 0 15px 10px 15px;
    font-family: $FS;
    font-weight: 600;
    color: $mGrey;
  }
}

// 3. Program Page posts
.program-page_post {
  margin: 0;

  .post-header {
    background-color: $Red;
    border: none;
  }

  .post-title {
    font-size: 21px;
    font-weight: 600;
    padding: 15px;
    display: block;
    line-height: 1.2;
    color: $lGrey;
  }

  .post-excerpt {
    p {
      line-height: 1.4;
      padding: 20px;
    }
  }
}


// General Page Styles
.home {
  .hero-extras {
    margin-top: 10%;
  }
}

.page {
  #hero-section {
    height: 40vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .hero-extras {
      margin-top: 40px;
    }
  }
}

.page-title {
  color: $lGrey;
  text-transform: uppercase;
  font-family: $Ubuntu;
  width: 100%;
  text-align: center;
}


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Category specific CSS
.dogadanja-text {
	color: $lOrange;
}

.dogadanja-bg {
	background-color: $lOrange;
}

.dogadanja-all {
	color: darken($dOrange, 10%);
	background-color: $lOrange;
}

a.dogadanja-all:hover {
	color: darken($dOrange, 20%);
}

.novosti-text {
	color: $mBlue;
}

.novosti-bg {
	background-color: $mBlue;
}

.novosti-all {
	color: darken($dBlue, 20%);
	background-color: $mBlue;
}

a.novosti-all:hover {
	color: darken($dBlue, 30%);
}
