body.single {

  #hero-section {
    height: 20vh;

    .container {
      align-items: center;
    }
  }

  #hr-heading, #en-heading {
    display: none;
  }

  .hero-extras {
    position: initial;
    width: initial;
    transform: none;
  }

  .hero-extra {
    margin: 0;
  }
}

.single-header {
  margin: 60px 0 20px;
}

.single-title {
  font-family: $FS;
  font-weight: 600;
  margin: 0;
  padding: 0 20px;
}

.single-meta {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $FS;
  font-weight: 600;
  color: $mGrey;
}

.posted-on {
  padding-right: 20px;
}

.meta-icon {
  padding-right: 5px;
  color: $lOrange;
  font-size: 130%;
}

.cat-links {
  flex-grow: 2;

  a {
  color: $mGrey;
  }
}

.edit-link {
  a {
    margin-left: 10px;
    background-color: $Red;
    display: inline-block;
    border-radius: 20px;
    color: $dGrey;
    padding: 5px 30px;

    &:hover {
      color: $Red;
      background-color: $dGrey;
    }
  }
}

.single-content {
  text-align: center;
  p {
    text-align: left;
  }
}

// Other Posts

.other-posts-section {
  background-color: $dGrey;

  .container {
    display: flex;
    align-items: baseline;
  }

  .subsection-heading {
    color: $lGrey;
    padding: 30px 0;

    span {
      font-size: 100%;
    }
  }
}

.other-posts_header {
}

.other-posts_title {
  display: block;
  line-height: 1.2;
  padding: 15px;
  font-size: 21px;
  font-weight: 600;
}

.other-posts_excerpt {
  padding: 15px;

  p {
    padding: 0;
    font-size: 18px;
  }
}

.other-posts_footer {
  span {
    font-size: 100%;
    display: block;
    padding: 0 15px 10px 15px;
    font-family: $FS;
    font-weight: 600;
    color: $mGrey;
  }
}
