body.single {

  #hero-section {
    height: 200px;

    .container {
      align-items: center;
    }
  }

  #hr-heading, #en-heading {
    display: none;
  }

  .hero-extra_icon i {
    padding: 12px;
  }

  .hero-extra_text {
    padding: 10px;
  }
}

.single-header {
  padding: 20px 0;
}

.single-title {
  font-family: $FS;
  font-weight: 600;
  margin: 0;
  padding: 0 20px;
}

.single-meta {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $FS;
  font-weight: 600;
  color: $mGrey;
}

.posted-on {
  padding-right: 20px;
}

.meta-icon {
  padding-right: 5px;
  color: $lOrange;
  font-size: 130%;
}

.cat-links {
  flex-grow: 2;

  a {
  color: $mGrey;
  }
}

.edit-link {
  a {
    margin-left: 10px;
    background-color: $Red;
    display: inline-block;
    border-radius: 20px;
    color: $dGrey;
    padding: 5px 30px;

    &:hover {
      color: $Red;
      background-color: $dGrey;
    }
  }
}

.single-image {
  height: 300px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
}

.single-content {
  text-align: center;

  p {
    text-align: left;
  }

  a img {
    width: 80%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
  }
}
